@media only screen and (max-width: 960px) and (min-width: 361px){

}

@media only screen and (min-width: 961px) {

}

@media only screen and (max-width: 360px) {

}

@media only screen and (min-width: 2000px) {

}

body {
    background-color: lightgrey;
}

/*.buttons {*/
    /*width: 70%*/
/*}*/